
.modal {
  direction: ltr;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modal-content {
  width: 485px;
  background-color: var(--post-background);
  border-radius: 3px;
  border: 1px solid var(--border-color);
  z-index: 2;
  color:var(--font-color);
}

.modal-header{
  padding: 0;
  line-height: 45px;
  border-bottom: 1px solid var(--border-color);
}
.header-span{
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-weight: 600;
  margin: auto 20px;
}
.close-button{
  float: right;
  margin: 15px 15px;
}

.ImageUpload {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--post-background);
}

input[type="text"].caption_input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: 10px 0 5px 0;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  color: var(--font-color);
}

.ImageUpload__progress {
  width: 100%;
  margin: auto;
  background-color: var(--upload-progress-bar);
  border: 1px solid var(--upload-progress-bar-border);
  border-radius: 3px;
  padding: 0;
}
.ImageUpload__progress::-webkit-progress-bar{
  background-color: var(--upload-progress-bar);
}
.ImageUpload__progress::-webkit-progress-value{
  background-color: darkgreen;
}

.custom_upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 7px auto;
  margin: 5px auto 5px auto;
  cursor: pointer;
  line-height: initial;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

.upload_button {
  height: 35px;
  width: 50%;
  margin: 5px auto 5px auto;
  border: 1px solid var(--border-color);
  vertical-align: middle;
  color:var(--font-color);
  border-radius: 3px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

.upload_button[disabled]{
  color:var(--disabled-button-theme);
}

.upload_button[disabled]:hover{
  background-color: var(--post-background);
}
.upload_button:hover{
  background-color: var(--logger-buttons-hover);
}
.upload_button:active{
  background-color:var(--logger-buttons-active);
}
