
.modal {
  direction: ltr;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  transform: scale(1);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modal-content {
  width: 485px;
  transform: scale(0);
  background-color: var(--post-background);
  border: 1px solid var(--border-color);
  animation: zoomIn 0.1s 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  border-radius: 3px;
  z-index: 2;
  color:var(--font-color);
}

.modal-header{
  padding: 0;
  opacity: 0;
  line-height: 45px;
  border-bottom: 1px solid var(--border-color);
  animation: modalContentFadeIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  position: relative;
}

.header-span{
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-weight: 600;
  margin: auto 20px;
}
.close-button{
  float: right;
  margin: 15px 15px;
}

.ImageUpload {
  opacity: 0;
  animation: modalContentFadeIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--post-background);
}

input[type="text"].caption_input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: 10px 0 5px 0;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  color: var(--font-color);
}

.ImageUpload__progress {
  width: 100%;
  margin: auto;
  background-color: var(--upload-progress-bar);
  border: 1px solid var(--upload-progress-bar-border);
  border-radius: 3px;
  padding: 0;
}
.ImageUpload__progress::-webkit-progress-bar{
  background-color: var(--upload-progress-bar);
}
.ImageUpload__progress::-webkit-progress-value{
  background-color: darkgreen;
}

.custom_upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 7px auto;
  margin: 5px auto 5px auto;
  cursor: pointer;
  line-height: initial;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

.upload_button {
  height: 35px;
  width: 50%;
  margin: 5px auto 5px auto;
  border: 1px solid var(--border-color);
  vertical-align: middle;
  color:var(--font-color);
  border-radius: 3px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

.upload_button[disabled]{
  color:var(--disabled-button-theme);
}

.upload_button[disabled]:hover{
  background-color: var(--post-background);
}
.upload_button:hover{
  background-color: var(--logger-buttons-hover);
}
.upload_button:active{
  background-color:var(--logger-buttons-active);
}


/* -----Keyframes--------- */

@keyframes fadeIn{
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}

@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes modalContentFadeIn {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes sketchIn {
  0% {
    stroke-dashoffset: 778;
  }
  100% {
    stroke-dashoffset: 0;
  }
}