.Post-caption {
    padding: 16px 16px 0 16px;
    font-size:14px;
}
.Post-caption button:hover{
    text-decoration: underline;
}
.Post-caption strong {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
        Arial, sans-serif;
}
.Post-caption span {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
        Arial, sans-serif;
}